html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    opacity: 0.8;
   
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
    background-image: url(./assets/bg.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
	transition: .5s;
}
nav.sticky{
	background-color: #010b14;
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 4%;
	transition: .5s;
	z-index: 5;
}
.logo{
	position: relative;
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #f9004d;
}
nav ul li{
	position: relative;
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a,nav a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
}
h4{
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
}
#AboutMe{
    height: 100vh;
    width: 100%;
	padding: 40px 0px;
	background-color: #00080e;
	margin: 0 auto;
	display: flex;
	
	justify-content: space-around;
}
#AboutMe img{
    height: auto;
	width: 430px;
	
}
.Information-Section{
    width: 550px;
}

.ContactMe{
    margin:10px 0;
}
#AboutMe button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
    display: block;
    margin-top:32px ;

}

.ContactMe a {
    text-decoration: none;
    color: white;
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.title{
	padding: 5%;
    text-align: center;
}
.Services,.Experiance,.Skills{
    height: 100hv;
	padding: 80px 0px;
	display: flex;	
	justify-content: space-between;
    width: 80%;
    margin: auto;
}
#serv_section{
	height: 100vh;
    width: 100%;
    margin: auto;
}
.card{
    text-align: center;
    flex-basis: 47%; /* 100/3*/
    padding: 16px;
     box-sizing: border-box;
    box-shadow: 0 4px 8px 0 #003D73;
    background-color: #091d30;
}

.card p{
    margin-top: 10px;
}
.Experiance .card:hover{
    transition: .5s;
    box-shadow: 2px 2px 2px#f9004d;
}
.Skills .card{
    background-color: #010c16;
}
.Services .card{
    background-color: #010c16;
}
#Exp_section{
    background-color: #00080e;
	height: 100vh;
    width: 100%;
    margin: auto;
}

ul li {
    text-align: left;
    list-style-type: none;
    color: white;
    letter-spacing: 1px;
    padding: 8px;
}
.Skills h1{
    text-align: left;
    font-size: 40px;
}
p{
    color: white;
    letter-spacing: 1px;
    padding: 8px; 
}
.Experiance .card{
    flex-basis: 30%;
	cursor: pointer;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #091d30;
  width: 500px;
  max-width: 80%;
}
.modal button{
	color: white;
	font-weight: bold;

}
.modal div{
		color: white;
		letter-spacing: 1px;
		padding: 8px; 
	
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
  .checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
  }
  #check{
	display: none;
  }
@media (max-width:1000px){
	.checkbtn{
		display: block;
	  }
	  nav{
		background-color: #010b14;
		position: fixed;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: .5s;
		z-index: 5;
	}
	  #Nav-element{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #010b14;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	  }
	  nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	  }
	  nav ul li a{
		font-size: 20px;
	  }
	  a:hover,a.active{
		background: none;
		color: #0082e6;
	  }
	  #check:checked ~ ul{
		left: 0;
	  }
	.Services,.Experiance,.Skills{
		padding: 10px 0px;
		display: block;
		width: 80%;
		margin: auto;
		height: auto;
	}
	.Skills ul li{
		width: auto;
	}
	.card{
		margin-bottom: 8%;
	}
	#serv_section,#AboutMe,#Exp_Section,#Skill_Section{
		height: auto;
		width: 100%;
		margin: auto;
	}
	#about_section{
		background-color: #00080e;
		height: auto;
		text-align: center;
    	width: 100%;
    	margin: auto;	
	}
	#AboutMe{
		padding: 10px 0px;
		display: block;
		height: auto;
		width: 80%;
		margin: auto;
		align-items: center;
	}
	h1{
		color: white;
		margin: 20px 0px 20px;
		font-size: 50px;
	}
	h3{
		color: white;
		font-size: 20px;
	}
	h4{
		color: white;
		letter-spacing: 2px;
		font-size: 15px;
	}
	p{
		color: white;
		letter-spacing: 0.7px;
		padding: 8px; 
		font-size: 12px;
	}
	#AboutMe img{
		height: auto;
		width: 40%;
		align-self: center;
		margin: auto;
		border-radius: 50%;
	}
	#AboutMe ul li{
		text-align: center;
	}
	#aboutMe button{
		text-align: center;
		margin: 35px auto;
	}
	.Information-Section{
		width: auto;
	}

}

/*#Nav-element.active{
		list-style-type: none;
		display: block;
		padding: 10px  25px;
		z-index: 10;
	}
	#Nav-element.active #menubar{
		opacity: 0;
	}
	nav.active{
		position: relative;
		display: inline-block;
		align-items: center;
		justify-content: space-between;
		padding-top: 45px;
		padding-left: 8%;
		padding-right: 8%;
	}*/